@charset "UTF-8";

/* 테이블 전체 스타일 */
#userList {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

/* 테이블 헤더 스타일 */
#userList th {
    background-color: #f2f2f2;
}

/* 테이블 셀 스타일 */
#userList td, #userList th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

/* 짝수 행 배경색 스타일 */
#userList tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* 마우스 호버 시 행 배경색 스타일 */
#userList tr:hover {
    background-color: #ddd;
}